// SCREEN SIZES
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-plus: 992px;
$tablet-landscape: 1024px;
$desktop: 1280px;
$desktop-extra: 1440px;
// FONT SIZE
$base_font_size: 10px;
// WIDTH
$site_width: 1920;
// COLORS
$white_0: #fff;
$white_1: rgba(255, 255, 255, 0.5);

$black_0: #000;
$black_1: rgba(0, 0, 0, 0.7);
$black_2: rgba(0, 0, 0, 0.5);

$gray_0: #3D3D3D;
$gray_1: #E5E5E5;
$gray_2: #9D9D9D;
$gray_3: #EEEEEE;
$gray_4: #A9A9A9;
$gray_5: #B5B5B5;
$gray_6: #777777;
$gray_7: #646464;
$gray_8: #D2D2D2;
$gray_9: #BCBCBC;
$gray_10: #5A5A5A;
$gray_11: #A0A0A0;
$gray_12: #F8F8F8;
$gray_13: #CDCDCD;
$gray_14: #8C8C8C;

$blue_0: #215CCE;
$blue_1: #143576;
$blue_2: #99B8F2;
$blue_3: #7FA7F4;
$blue_4: #2D6BE1;
$blue_5: #12419D;
$blue_6: #6994E5;
$blue_7: #3883EE;
$blue_8: #A0BEF8;
$blue_9: #1949A8;
$blue_10: #1B50B8;

$red_0: #B84646;
$red_1: #F43F3F;

$green_0: #6ACA0B;
$green_1: #1CB547;
$green_2: #00AD9C;

$purple_0: #AC42FF;

$yellow_0: #FFD542;