// Classes for different tiles (tile--discontinued, tile--unavailable, tile--running-out, tile--expected, tile--sale, tile--new, tile--top)
// <div class="tile tile--discontinued tile--unavailable tile--running-out tile--sale tile--new tile--top">
//     <div class="tile__label">
//         <ul class="tile__label_list">
//             <li class="tile__label_item label__new"></li>
//             <li class="tile__label_item label__top"></li>
//             <li class="tile__label_item label__sale"></li>
//         </ul>
//     </div>
//     <div class="tile__inner">
//         <a href="#" class="tile__link">
//             <div class="tile__photo">
//                 <img src="" alt="image" class="tile__img">
//                 <div class="tile__unavailable">
//                     <p class="tile__unavailable_title">
//                         Немає в наявності
//                     </p>
//                     <p class="tile__unavailable_expected">
//                         Очікується 10.03.2020
//                     </p>
//                 </div>
//                 <div class="tile__discontinued">
//                     <p class="tile__discontinued_title">
//                         Знятий з виробництва
//                     </p>
//                 </div>
//             </div>
//             <div class="tile__description">
//                 <p class="tile__title">

//                 </p>
//                 <p class="tile__category">

//                 </p>
//                 <p class="tile__description_short">

//                 </p>
//             </div>
//         </a>
//         <!-- Counter (module) -->
//         <div class="counter">
//             <div class="counter__inner">
//                 <button type="button" class="counter__btn counter__btn--subtract counter_subtract">
//                     <i class="counter__btn_icon">
//                         <svg class="counter__btn_svg" width="10" height="2" viewBox="0 0 10 2" xmlns="http://www.w3.org/2000/svg">
//                             <rect width="10" height="2"></rect>
//                         </svg>
//                     </i>
//                 </button>
//                 <input type="number" min="1" value="1" class="counter__input">
//                 <button type="button" class="counter__btn counter__btn--add counter_add">
//                     <i class="counter__btn_icon">
//                         <svg class="counter__btn_svg" width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
//                             <path d="M0 4H10V6H0V4Z"></path>
//                             <path d="M6 8.74228e-08L6 10H4L4 0L6 8.74228e-08Z"></path>
//                         </svg>
//                     </i>
//                 </button>
//             </div>
//         </div>
//         <div class="tile__footer">
//             <div class="tile__logo">
//                 <img src="" alt="image" class="tile__logo_img">
//             </div>
//             <p class="tile__cost">
//                 <span class="tile__cost_sale">

//                 </span>
//                 <span class="tile__cost_price">

//                 </span>
//             </p>
//             <p class="tile__running-out">
//                 Товар закінчується
//             </p>
//             <button type="button" class="tile__cart_btn">
//                 <i class="tile__cart_icon">
//                     <svg class="tile__cart_svg" width="30" height="26" viewBox="0 0 30 26" xmlns="http://www.w3.org/2000/svg">
//                         <path d="M21.4381 20.1879C19.8063 20.1879 18.4832 21.4887 18.4832 23.0937C18.4832 24.699 19.8059 26 21.4377 26C23.07 26 24.3926 24.699 24.3926 23.0941C24.3911 21.4896 23.0691 20.1895 21.4381 20.1879ZM21.4381 24.6988C20.5366 24.6988 19.8063 23.9803 19.8063 23.0941C19.8063 22.2076 20.5366 21.4891 21.4377 21.4891C22.3392 21.4887 23.0695 22.2076 23.0695 23.0937C23.0685 23.9797 22.3388 24.6973 21.4381 24.6988Z" />
//                         <path d="M29.3381 4.09892H5.86423L5.45136 2.44698C5.09478 1.00592 3.77939 -0.00607874 2.27173 2.7483e-05H0.661423C0.296151 2.7483e-05 0 0.291293 0 0.650745C0 1.00999 0.296151 1.30126 0.661423 1.30126H2.27173C3.16887 1.29413 3.95343 1.89498 4.16659 2.75229L7.37851 15.6529C7.73696 17.0911 9.05339 18.0986 10.5588 18.0872H24.298C25.8245 18.0992 27.1529 17.0634 27.4894 15.5993L29.9832 4.87908C30.0283 4.68857 29.9814 4.48829 29.8557 4.33624C29.7293 4.18338 29.5387 4.09586 29.3381 4.09892ZM26.1999 15.3134C25.9983 16.1839 25.2059 16.7976 24.298 16.786H10.5588C9.66287 16.7955 8.87789 16.1973 8.6639 15.3416L6.18791 5.40015H28.5081L26.1999 15.3134Z" />
//                         <path d="M12.4901 20.1879C10.8582 20.1879 9.53519 21.4887 9.53519 23.0937C9.53519 24.699 10.858 26 12.4899 26C14.1219 26 15.4447 24.699 15.4447 23.0941C15.4433 21.4896 14.1213 20.1895 12.4901 20.1879ZM12.4901 24.6988C11.5888 24.6988 10.8582 23.9803 10.8582 23.0941C10.8582 22.2076 11.5888 21.4891 12.4899 21.4891C13.3911 21.4887 14.1217 22.2076 14.1217 23.0937C14.1207 23.9797 13.3907 24.6973 12.4901 24.6988Z" />
//                     </svg>
//                 </i>
//                 В корзину
//             </button>
//             <button type="button" class="tile__unavailable_btn">
//                 Повідомити про наявність
//             </button>
//             <button type="button" class="tile__discontinued_btn">
//                 Переглянути аналоги
//             </button>
//         </div>
//     </div>
// </div>

.tile {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 500px;
    min-width: 100px;
    margin: 0 auto;

    &--discontinued {

        .tile {

            &__discontinued {
                display: flex;
            }

            &__img {
                filter: grayscale(1);
            }

            &__cart {

                &_btn {
                    display: none;
                }
            }

            &__description {
                opacity: 0.5;
            }

            &__cost {
                opacity: 0.5;
            }

            &__discontinued {

                &_btn {
                    display: flex;
                }
            }
        }
    }

    &--unavailable {

        .tile {

            &__unavailable {
                display: flex;

                &_expected {
                    display: none;
                }
            }

            &__img {
                filter: grayscale(1);
            }

            &__cart {

                &_btn {
                    display: none;
                }
            }

            &__unavailable {

                &_btn {
                    display: flex;
                }
            }
        }
    }

    &--running-out {

        .tile {

            &__running-out {
                display: block;
            }

            &__cost {
                margin-bottom: 0;
            }
        }
    }

    &--expected {

        .tile {

            &__unavailable {
                display: flex;

                &_title {
                    display: none;
                }
            }

            &__img {
                filter: grayscale(1);
            }
        }
    }

    &--top {

        .label {

            &__top {
                display: block;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    border: 32px solid $blue_0;
                    border-bottom-color: transparent;
                    border-right-color: transparent;
                    z-index: 1;
                }

                &::after {
                    @include adaptiv-font(12, 15, 8, 10, "Montserrat-Bold");
                    // @include font(12px, 15px, "Montserrat-Bold");

                    content: 'top';
                    position: absolute;
                    top: 32px;
                    left: 32px;
                    transform: rotate(-45deg) translate(-50%, calc(-100% - 6px));
                    transform-origin: 0% 0%;
                    color: $white_0;
                    text-transform: uppercase;
                    z-index: 1;
                }
            }
        }
    }

    &--new {

        .label {

            &__new {
                display: block;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    border: 32px solid $green_0;
                    border-bottom-color: transparent;
                    border-right-color: transparent;
                    z-index: 1;
                }

                &::after {
                    @include adaptiv-font(12, 15, 8, 10, "Montserrat-Bold");
                    // @include font(12px, 15px, "Montserrat-Bold");

                    content: 'new';
                    position: absolute;
                    top: 32px;
                    left: 32px;
                    transform: rotate(-45deg) translate(-50%, calc(-100% - 6px));
                    transform-origin: 0% 0%;
                    color: $white_0;
                    text-transform: uppercase;
                    z-index: 1;
                }
            }
        }
    }

    &--sale {

        .label {

            &__sale {
                display: block;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 0;
                    border: 32px solid $red_1;
                    border-bottom-color: transparent;
                    border-right-color: transparent;
                    z-index: 1;
                }

                &::after {
                    @include adaptiv-font(12, 15, 8, 10, "Montserrat-Bold");
                    // @include font(12px, 15px, "Montserrat-Bold");

                    content: 'sale';
                    position: absolute;
                    top: 32px;
                    left: 32px;
                    transform: rotate(-45deg) translate(-50%, calc(-100% - 6px));
                    transform-origin: 0% 0%;
                    color: $white_0;
                    text-transform: uppercase;
                    z-index: 1;
                }
            }
        }

        .tile__cost_sale {
            display: inline;
        }

        .tile__cost_price {
            font-family: "Montserrat-Regular";
            color: $gray_8;
            text-decoration: line-through;
        }
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        user-select: none;

        &_list {
            display: flex;
            flex-direction: column;
        }

        &_item {
            display: none;
            position: relative;
            width: 64px;
            height: 64px;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 23.75% 15px 12.5%;

        .counter {
            display: none;
        }    
    }

    &__link {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }

    &__photo {
        position: relative;
        width: 100%;
        height: 0;
        max-width: 230px;
        padding-bottom: 60%;
        margin: 0 auto 28px;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__footer {

        button {
            width: 100%;
            max-width: 160px;
        }
    }

    &__discontinued {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color: $white_1;
        text-align: center;
        z-index: 1;

        &_title {
            @include adaptiv-font(18, 22, 12, 14, "Montserrat-Bold");
            // @include font(18px, 22px, "Montserrat-Bold");

            color: $black_0;
        }

        &_btn {
            @include adaptiv-font(14, 17, 10, 12, "Montserrat-Bold");
            // @include font(14px, 17px, "Montserrat-Bold");

            display: none;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            min-height: 56px;
            padding: 10px 25px;
            border: 1px solid $blue_0;
            border-radius: 100px;
            background-color: transparent;
            color: $blue_0;
            text-align: center;
            will-change: background-color, color;
            transition: background-color 0.2s, color 0.2s;
            cursor: pointer;

            &:hover {
                background-color: $blue_0;
                color: $white_0;
            }
        }
    }

    &__unavailable {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color: $white_1;
        text-align: center;
        z-index: 1;

        &_title {
            @include adaptiv-font(18, 22, 12, 14, "Montserrat-Bold");
            // @include font(18px, 22px, "Montserrat-Bold");

            margin-bottom: 8px;
            color: $black_0;
        }

        &_expected {
            @include adaptiv-font(14, 17, 8, 10, "Montserrat-Medium");
            // @include font(14px, 17px, "Montserrat-Medium");

            padding: 16px 18px;
            background-color: $blue_0;
            color: $white_0;
        }

        &_btn {
            @include adaptiv-font(14, 17, 10, 12, "Montserrat-Bold");
            // @include font(14px, 17px, "Montserrat-Bold");

            display: none;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            min-height: 56px;
            padding: 10px 25px;
            border: 1px solid $blue_0;
            border-radius: 100px;
            background-color: transparent;
            color: $blue_0;
            text-align: center;
            will-change: background-color, color;
            transition: background-color 0.2s, color 0.2s;
            cursor: pointer;

            &:hover {
                background-color: $blue_0;
                color: $white_0;
            }
        }
    }

    &__description {
        width: 100%;
        text-align: center;

        &_short {
            @include adaptiv-font(14, 24, 10, 14, "Montserrat-Regular");
            // @include font(14px, 24px, "Montserrat-Regular");

            display: none;
            color: $gray_7;
        }
    }

    &__title {
        @include font(14px, 20px, "Montserrat-Medium");

        // height: 40px;
        max-width: 270px;
        margin: 0 auto;
        color: $gray_7;
        text-align: center;
        overflow: hidden;
    }

    &__category {
        @include adaptiv-font(12, 15, 10, 12, "Montserrat-Bold");
        // @include font(12px, 15px, "Montserrat-Bold");

        display: block;
        margin-top: 8px;
        color: $gray_8;
        text-align: center;
    }

    &__logo {
        display: none;
        width: 124px;
        height: 25px;
        margin-left: auto;
        margin-bottom: 25px;

        &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__cost {
        @include adaptiv-font(18, 22, 10, 12, "Montserrat-Bold");
        // @include font(18px, 22px, "Montserrat-Bold");

        // height: 44px;
        margin-bottom: 30px;
        color: $black_0;
        text-align: center;
        overflow: hidden;

        &_sale {
            display: none;
            margin-right: 7px;
            color: $red_1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &_price {
            margin-right: 7px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__running-out {
        @include adaptiv-font(14, 18, 10, 14, "Montserrat-Bold");

        display: none;
        margin-bottom: 30px;
        text-align: center;
        color: $red_1;
    }

    &__cart {

        &_btn {
            @include adaptiv-font(14, 17, 10, 12, "Montserrat-Bold");
            // @include font(14px, 17px, "Montserrat-Bold");

            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            min-height: 56px;
            padding: 10px 25px;
            border: 1px solid $blue_0;
            border-radius: 100px;
            background-color: transparent;
            color: $blue_0;
            fill: $blue_0;
            text-align: center;
            will-change: background-color, color, fill;
            transition: background-color 0.2s, color 0.2s, fill 0.2s;
            cursor: pointer;

            &:hover {
                background-color: $blue_0;
                color: $white_0;
                fill: $white_0;
            }
        }

        &_icon {
            width: 20px;
            margin-right: 8px;
        }
    }
}