.about {

    &__head {
        padding: 1.41% 2.24%;
        border-bottom: 1px solid $gray_1;
    }

    &__body {
        padding: 2.08% 2.24% 3.33%;
    }

    &__title {
        @include adaptiv-font(40, 49, 14, 17, "Montserrat-Bold");
        // @include font(40px, 49px, "Montserrat-Bold");

        margin-bottom: 3.5%;
        color: $black_0;
    }

    &__article {
        margin-bottom: 3.5%;
    }

    &__paragraph {
        // @include font(22px, 40px, "Montserrat-Regular");
        @include adaptiv-font(22, 40, 12, 22, "Montserrat-Regular");

        margin-bottom: 3.5%;
        color: $gray_10;

        &_list {
            display: flex;
            justify-content: space-between;
        }

        &_item {
            @include adaptiv-font(14, 24, 10, 18, "Montserrat-Regular");
            // @include font(14px, 24px, "Montserrat-Regular");

            margin-right: 3.7%;
            color: $gray_10;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__photo {
        position: relative;
        height: 0;
        padding-bottom: 16.38%;
        margin-bottom: 3.5%;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__note {
        display: flex;
        justify-content: space-between;
        padding-top: 3.5%;
        border-top: 1px solid $gray_1;

        &_paragraph {
            @include adaptiv-font(14, 24, 10, 18, "Montserrat-Regular");
            // @include font(14px, 24px, "Montserrat-Regular");

            margin-right: 4.53%;
            color: $gray_10;

            &:last-child {
                margin-right: 0;
            }

            &--color {
                color: $blue_0;
            }

            &--bold {
                font-family: "Montserrat-Bold";
            }
        }
    }
}

// 0 - 1280
@include respond-to(desktop) {

    .about {

        &__paragraph {

            &_list {
                flex-direction: column;
            }

            &_item {
                margin-right: 0;
                margin-bottom: 20px;
                text-indent: 1.5em;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

// 0 - 767
@include respond-to(mobile) {

    .about {

        &__head {
            padding: 10px 20px;
        }

        &__body {
            padding: 25px 20px;
        }

        &__paragraph {
            margin-bottom: 45px;
        }

        &__photo {
            padding-bottom: 160px;
            margin-bottom: 20px;
        }

        &__article {
            margin-bottom: 30px;
        }

        &__paragraph {

            &_item {
                text-indent: 0;
            }
        }

        &__note {
            flex-direction: column;
            padding-top: 30px;

            &_paragraph {
                width: 100%;
                margin-right: 0;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}